@model IEnumerable<ECom.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}   

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacture.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if(item.Specification !=null)
                {
                    <a asp-controller="Specifications" asp-action="Details" asp-route-id="@item.Specification.Id">See Specification</a>
                }
                else
                {
                    <text>No Specification</text>
                }
            </td>
            <td>
                <script>
                    eval(Math.trunc("@item.Price"))       
                </script>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.ImageUrl
            </td>
            <td>
                <img src="@item.ImageUrl"></img>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
        </tr>
}
    </tbody>
</table>
